html {
    height: 100%;
}


header {
    background-color: #D9E6F3;
}

body {  
    background-image: url('/media/fenland_background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - 164px);
    font-family: "Gudea","Roboto", sans-serif;
}

footer {
    background-color: #D9E6F3;
}

.logo-font {
    text-transform: uppercase;
    color: #2F587B; /* Bdazzled Blue */
    font-size: 1.5rem;
}

.main-logo-link {
    width: fit-content;
}

.browse-button {
    background: #2F587B;
    color: #D9E6F3;
    min-width: 260px;
}

.add-basket {
    background: #2F587B;
    color: #D9E6F3;
    border: #D9E6F3;
}

/* Basket quantity should default to 1 for most artworks
   so no need to display quantity input on form
   but leaving the option to interactively display for cards,
   prints, limited edition reproductions */
.basket-qty {
    display: none;
}

.text-black {
    color:#2F587B !important;  /* Bdazzled Blue */
}

.text-sold {
    color: red !important;
    font-weight: bolder;
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

#commission-banner h4 {
    font-size: .9rem;
}

/*--- back to top ------------*/

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link {
    cursor: pointer;
}


/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
}