html {
    height: 100%;
}


header {
    background-color: #D9E6F3;
}

body {  
    background-image: url('/media/fenland_background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - 164px);
    font-family: "Gudea","Roboto", sans-serif;
}

input[name='q']::placeholder {
    color: #D9E6F3;
}

.logo-font {
    text-transform: uppercase;
    color: #2F587B; /* Bdazzled Blue */
    font-size: 1.5rem;
}

.main-logo-link {
    width: fit-content;
}

.browse-button {
    background: #2F587B;
    color: #D9E6F3;
    min-width: 260px;
}

.btn-looking {
    background: #D9E6F3;
    color: #2F587B;
    border: #2F587B;
}

.btn-checkout {
    background: #2F587B;
    color: #D9E6F3;
    border: #D9E6F3;
}

.add-basket {
    background: #2F587B;
    color: #D9E6F3;
    border: #D9E6F3;
}

/* Basket quantity should default to 1 for most artworks
   so no need to display quantity input on form
   but leaving the option to interactively display for cards,
   prints, limited edition reproductions */
.basket-qty {
    display: none;
}

.text-black {
    color:#2F587B !important;  /* Bdazzled Blue */
}

.text-sold {
    color: red !important;
    font-weight: bolder;
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

#commission-banner h4 {
    font-size: .9rem;
}

/*--- back to top ------------*/

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link, .remove-item  {
    cursor: pointer;
}

/* ------------------------- Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #2F5878 /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #2F5878;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #D9E6F3;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #2F5878;
    border: 1px solid #2F5878;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #2F5878;
    border-color: #2F5878;
}

.allauth-form-inner-content a {
	color: #17a2b8; /* text-info */
}


/* Artwork Form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.btn-image {
    background: #2F587B;
    color: #D9E6F3;
    border: #D9E6F3;
}


.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}


/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}


/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
        font-size: .8rem;
    }

    body {
        height: calc(100vh - 116px);
    }

    .logo-font {
        font-size: .8rem;
    }

    .nav-link , .navbar-toggler, .browse-button  {
        border: 0.25rem;
        padding-left: 0.25rem;
        padding-right: 0.25rem;
    }

    .btn-looking btn-checkout {
        font-size: 0.9rem !important;
    }

}