<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-art-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Art Works
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-art-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Artist</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="" class="dropdown-item">All Art</a>
            </div>
        </li>

    </ul>
</div>