{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container mb-2">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="logo-font mb-4">Club Members</h2>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col s12">
                <div class="d-md-none">
                    {% for member in members %}
                        <div class="row">
                            <div class="col">
                                {{ member.full_name }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                {{ member.email_address }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                {{ member.created_at }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                {{ member.bio }}
                            </div>
                        </div>     
                        <div class="row"> 
                            <div class="col">
                            {% if request.user.is_superuser %}
                                <small class="ml-3">
                                <a href="{% url 'edit_member' member.id %}">Edit</a> | 
                                <a class="text-danger" href="{% url 'delete_member' member.id %}">Delete</a>
                                </small>
                            {% endif %}
                            </div>
                        </div>   
                        <div class="row">
                            <div class="col">
                                <hr>
                            </div>
                        </div>                                     
                    {% endfor %}
                </div>
                <div class="table-responsive rounded d-none d-md-block">
                <table  class="table table-sm table-borderless">
                    <thead>
                        <th scope="col">Full name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Date Joined</th>
                        <th scope="col">Biography</th>
                        <th scope="col">Username</th>
                    </thead>
                    {% for member in members %}
                    <tr>
                        <td>{{ member.full_name }}</td>
                        <td>{{ member.email_address }}</td>
                        <td>{{ member.created_at }}</td>
                        <td>{{ member.bio }}</td>
                        <td>{{ member.username }}</td>
                        <td>
                            {% if request.user.is_superuser %}
                                <small class="ml-3">
                                <a href="{% url 'edit_member' member.id %}">Edit</a> | 
                                <a class="text-danger" href="{% url 'delete_member' member.id %}">Delete</a>
                                </small>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}